body {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-family: verdana;
}
header {
  font-weight: bold;
}
.headerlogo {
  float: left;
  margin-right: 10px;
}
.headerlogo > img {
  height: 60px;
  width: 60px;
}
#mainHeader {
  height: 80px;
}
.searchbox {
  float: right;
  padding: 5px;
  margin: 10px 10px;
  width: 200px;
}
#headername {
  font-size: 40px;
  color: #603813;
  padding: 15px;
  margin: 8px 0px;
  font-weight: bold;
}
#welcomeimage {
  float: left;
  width: 70%;
}
#welcomeimage > img {
  height: 400px;
  width: 600px;
}
#coffeeofthemonth {
  float: right;
  width: 30%;
}
#coffeeofthemonth > img {
  height: 400px;
  width: 600px;
}
#welcometext {
  float: left;
  width: 50%;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#welcometext > header {
  color: #603813;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
}
#events {
  float: right;
  width: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
}
#events > header {
  margin-left: 10px;
  color: #603813;
  font-size: 15px;
  margin-bottom: 3px;
  font-weight: bold;
}
#events > ul {
  list-style: none;
}
#events > ul > li {
  margin-bottom: 3px;
}

#bestsellers {
  height: 100%;
  width: 700px;
  float: left;
  margin-bottom: 20px;
}
#bestsellers > header {
  margin-left: 10px;
  color: #603813;
  font-size: 15px;
  margin-bottom: 3px;
  font-weight: bold;
}
.backgroundgradient > ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
.backgroundgradient > ul > li {
  float: left;
}

.backgroundgradient > ul > li > a {
  display: block;
  color: black;
  text-align: center;
  padding: 5px 7px;
  text-decoration: none;
}
.productarticle {
  width: 25%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.productarticlethumbnail {
  width: 120px;
  height: 120px;
  float: left;
}
.productarticlemoreinfo {
  font-size: 12px;
  color: #603813;
  margin-top: 5px;
}
footer {
  clear: both;
  width: 100%;
  background-color: #5c5045;
  margin: 20px 0px 20px;
  padding: 5px;
}
.smalltext {
  font-size: 10px;
}
/*All coffees page styles*/
.blockheader {
  font-size: 30px;
  font-family: headerfont;
  margin-top: 20px;
}
