body {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-family: verdana;
}
@font-face {
  font-family: headerfont;
  src: url("../fonts/Lobster_1.3.otf");
}
header {
  font-weight: bold;
}
.headerlogo {
  float: left;
  margin-right: 10px;
}
.headerlogo > img {
  height: 60px;
  width: 60px;
}
#mainHeader {
  height: 80px;
}
.searchbox {
  float: right;
  padding: 5px;
  margin: 10px 10px;
  width: 200px;
}
#headername {
  font-family: headerfont;
  font-size: 40px;
  color: #603813;
  padding: 15px;
  margin: 8px 0px;
  font-weight: bold;
  text-shadow: 5px 5px 5px #5f2c17;
}
#welcomeimage {
  float: left;
  width: 70%;
}
#welcomeimage > img {
  height: 400px;
  width: 600px;
}
#coffeeofthemonth {
  float: right;
  width: 30%;
}
#coffeeofthemonth > img {
  height: 400px;
  width: 600px;
}
#welcometext {
  float: left;
  width: 50%;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#welcometext > header {
  color: #603813;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
}
#events {
  float: right;
  width: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
}
#events > header {
  margin-left: 10px;
  color: #603813;
  font-size: 15px;
  margin-bottom: 3px;
  font-weight: bold;
}
#events > ul {
  list-style: none;
}
#events > ul > li {
  margin-bottom: 3px;
}

#bestsellers {
  height: 100%;
  width: 700px;
  float: left;
  margin-bottom: 20px;
}
#bestsellers > header {
  margin-left: 10px;
  color: #603813;
  font-size: 15px;
  margin-bottom: 3px;
  font-weight: bold;
}
/*.backgroundgradient > ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
.backgroundgradient > ul > li {
  float: left;
}

.backgroundgradient > ul > li > a {
  display: block;
  color: black;
  text-align: center;
  padding: 5px 7px;
  text-decoration: none;
}*/
nav {
  height: 45px;
  width: 100%;
  margin-bottom: 5px;
  padding-left: 5px;
}
nav ul {
  list-style: none;
  padding: 0px;
}
nav ul li {
  display: block;
}
.addtocartbutton {
  cursor: pointer;
  padding: 4px 25px;
  background: #603813;
  border: 1px solid #381f09;

  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;

  -webkit-box-shadow: 0 0 4px rga(0, 0, 0, 0.75);
  -moz-box-shodow: 0 0 4px rga(0, 0, 0, 0.75);
  box-shadow: 0 0 4px rga(0, 0, 0, 0.75);
  color: #f3f3f3;
  font-size: 0.8em;
  width: 80px;
}
.addtocartbutton:hover,
.addtocartbutton:focus {
  background-color: #512c0a;
  -webkit-box-shadow: 0 0 1px rga(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 1px rga(0, 0, 0, 0.75);
  box-shadow: 0 0 1px rga(0, 0, 0, 0.75);
}
.backgroundgradient {
  background: -webkit-linear-gradient(
    left,
    #603813,
    #341c05
  ); /*For Safari 5.1 to 6.*/
  background: -o-linear-gradient(
    right,
    #603813,
    #331c05
  ); /*For opera 11.1 to 12.0*/
  background: -moz-linear-gradient(
    right,
    #603813,
    #341c05
  ); /*For firefox 3.6 to 15*/
  background: linear-gradient(to right, #603813, #341c05);
}
.navlink {
  height: 35px;
  margin-right: 10px;
  font-size: 18px;
  float: left;
  padding-top: 12px;
  color: black;
  text-decoration: none;
}
/*.navlink.active {
}*/
.productarticle {
  width: 25%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.productarticlethumbnail {
  width: 120px;
  height: 120px;
  float: left;
}
.productarticlemoreinfo {
  font-size: 12px;
  color: #603813;
  margin-top: 5px;
}
footer {
  clear: both;
  width: 100%;
  background-color: #5c5045;
  margin: 20px 0px 20px;
  padding: 5px;
  transform: rotate(10deg);
}
.smalltext {
  font-size: 10px;
}
/*All coffees page styles*/
.blockheader {
  font-size: 30px;
  font-family: headerfont;
  margin-top: 20px;
}
